@use 'src/assets/styles/reset-style.scss';
@use 'src/assets/styles/home-style.scss';
body{
  background-image: url(./src/assets/img/fondo-papel-grunge.png);
  background-repeat: no-repeat;
  overflow-y: auto;
  background-size: cover;
  
}