
.gallery {
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: beige;
  
    .image-card {
      width: 150px;
      margin: 10px;
      text-align: center;
  
      .image {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
  
      .image-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
  
        .delete-icon,
        .edit-icon {
          cursor: pointer;
          margin-right: 10px;
        }
  
        .image-name {
          flex-grow: 1;
        }
      }
  
      &:nth-child(odd) {
        .image-info {
          background-color: #f0f0f0;
        }
      }
  
      &.selected {
        .image-info {
          background-color: #ff0;
        }
      }
    }
    
  }
