@use 'footer-style.scss';
@use 'header-style.scss';



#monster_home{
    width: 75%;
    margin: auto ;
    display: block;
   margin-top: 15%;
}

#door_home{
    width: 95%;
    margin: auto;
    display: block;
    
    margin-top: -23%;
}

#logo_home {
    width: 85%;
    margin: auto;
    display: block;
    margin-top: -50%;

}


#start {
    background-color: #9C7D68;
    border-radius: 1vw;
    border-color: #e7d8b4 ;
    width: 50%;
    height: 10vw;
    font-size: 4vw;
    margin: auto;
    margin-top: 35%;
    display: block;
    margin-bottom: 20%;
   
    
}
