.container-icons {
	display: grid;
	grid-template-columns: 15% 15% 15% 15% 15%;
	grid-template-rows: 15% 15% 15% 15% 15%;
	gap: 1.5rem;
	text-align: center;
	margin: 5%;
}

.icons img {
	width: 90%;
	height: 90%;
   
}

#choose{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8%;
    justify-items: center;
    align-items: baseline;
    button{
    cursor: pointer;
    background: none;
    border-radius: 50%;
    border-color: #e7d8b4 ;
    width: 7rem;
    height: 7rem;
   
}

    #myavatar{
        width: 75%;
    }
    #nickname{
        margin-top: 50%;
    }
    #choose_avatar{
        margin: 5%;
    }
}

#save-player{
    background-color: #9C7D68;
    border-radius: 1vw;
    border-color: #e7d8b4 ;
    width: 50%;
    height: 10vw;
    font-size: 4vw;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 7%;
    display: block;
}